
main {
  color: #5D6063;
  background-color: #EAEDF0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content-container {
  flex: 1;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  background-color: lightskyblue;
  border: 1px solid black;
  border-radius: 6px;
}

.form-container,
.hint-container {
  margin: 0px 24px;
  padding: 24px;
  width: min(655px, 100vw - 48px);
}

.input-container {
  margin-top: 24px;
}

input:not([type="radio"]) {
  width: 80%;
}

button {
  padding: 5px 16px;
}

button[type="submit"] {
  margin-top: 24px;
  width: 100%;
}

meter {
  width: 100%;
}