:root {
  --background: #011526;
  --opaque-background: #011526e4;
  --main-text: #D90754;
  --minor-text: #0578A6;
  --highlighted-text: #0BB3D9;
  --input-text: #009cc0;
  --dull-text: #35717e;
  --valid: green;
  --invalid: red;
}
/* Animated Background by Manuel Pinto */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


main {
  color: var(--dull-text);
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

@media (max-width: 750px) {
  button {
    width: 100%;
  }

  button#submit {
    margin-top: 0px;
  }

  .input-container {
    margin-top: 6px !important;
  }

  .input-container > span {
    display: flex;
    align-items: center;
    min-height: 54px;
  }

  input:not([type="checkbox"]) {
    flex: 1;
  }

  .footer span {
    display: block;
    margin: -5px;
  }
}

.header,
.footer {
  background-color: var(--opaque-background);
  width: 100vw;
  min-width: 363px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  color: var(--minor-text)
}

.header {
  justify-content: space-between;
  height: 70px;
}

.icon {
  fill: white;
  height: 50px;
  width: auto;
  margin-top: 5px;
}

.footer {
  justify-content: center;
  height: 70px;
  text-align: center;
}

.footer p,
.footer a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer p {
  font-size: .8rem;
}

h3 {
  color: var(--minor-text);
}

a {
  color: var(--highlighted-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content-container {
  flex: 1;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  background-color: var(--background);
  padding: 24px;
  border: 1px solid var(--minor-text);
}

.form-container,
.hint-container {
  margin: 0px 24px;
  width: min(655px, 100vw - 48px);
  min-width: 315px;
  border-radius: 6px;
}

.hint-container {
  background-color: var(--opaque-background);
}

.hint-container > * {
  color: var(--minor-text);
}

.hint {
  margin: 24px;
}

.form-container div,
.form-container label {
  font-family: 'Ubuntu Mono', monospace;
  color: var(--main-text);
  font-weight: bold;
  font-size: 1.2rem;
}

.indicator {
  margin-right: 5px;
  color: var(--dull-text);
}

span.valid {
  color: var(--valid);
}

span.invalid {
  color: var(--invalid)
}

input {
  color: var(--input-text);
  background-color: var(--background);
}

input:focus-visible {
  outline-style:solid;
  outline-color: var(--highlighted-text);
}

.form-container input {
  border-style: none;
  font-size: 1rem;
}

.input-container {
  margin-top: 24px;
}

input:not([type="checkbox"]) {
  width: 80%;
}

input[type="checkbox"] {
  margin-right: 15px;
}

button {
  padding: 5px 16px;
  background: none;
  color: var(--dull-text);
  box-shadow: none;
  border-radius: 6px;
  border-style: solid;
  border-color: var(--dull-text);
}

#submit {
  margin-top: 24px;
  width: 100%;
}

button:hover {
  cursor: pointer;  
}

button.valid {
  color: var(--valid);
  border-color: var(--va);
}

button.hidden {
  visibility: hidden;
}

